.l-input {
  position: relative;
}

.l-input label {
  position: absolute;
  background-color: #fff;
  top: -10px;
  left: 20px;
  padding: 0 0.5rem;
}

.l-input input {
  border-radius: 16px;
  padding: 0.7rem 1.5rem;
  width: 400px;
  height: 40px;
  font-size: 1.1rem;
}

.input-err {
  height: 14px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #d32f2f;
}
